.adslot{
	position:relative;
	float:left;
	right:8px;
	bottom:8px;
}
html {
  cursor: url('https://external-media.spacehey.net/media/smkXI1b9uqyE5u-yTk8OqjbGZzsdRmoW7GQBvdgjxnIM=/http://www.rw-designer.com/cursor-download.php?id=165880'), auto;
}